<!-- Sidebar-->
<div class="border-end" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active">
      Gamezonia
    </a>
  </div>
  <div class="list-group list-group-flush">
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      [routerLink]="['/admin']"
      routerLinkActive="router-link-active"
      ><i class="fas fa-columns"></i> Dashboard</a
    >
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      [routerLink]="['/admin/user']"
      routerLinkActive="router-link-active"
      ><i class="fas fa-id-card"></i> User</a
    >
  </div>
</div>
